.todoListContainer {
    margin: 20px;
    width: 300px;

    border: 1px solid rgb(232, 232, 232);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.todo {
    display: flex;
    align-items: center;

    position: relative;

    border: 1px solid rgb(232, 232, 232);
    margin: 0px -1px -1px 0px;

    height: 25px;
}

.btn {
    position: absolute;
    right: 0px;

    cursor: pointer;
    background-color: red;
    color: white;
}
