.todo {
    display: flex;
    align-items: center;

    position: relative;

    border: 1px solid rgb(232, 232, 232);
    margin: 0px -1px -1px 0px;

    height: 25px;
}

.btn {
    position: absolute;
    right: 0px;

    cursor: pointer;
    background-color: red;
    color: white;
}
